
  $primary-color: #0f9b8e;
  $secondary-color: gray;
  $tertiary-color: #03719c;
  
  .tab {
    width: 100%;
    padding: 20px 0;
    background: $primary-color;
    color: white;
    overflow: hidden;
    text-align: center;
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    text-decoration: none;
  }
  
  .tab.active {
    background: $tertiary-color;
    color: red;
  }